<%= link_to_function "hide done", "hide_done()" %> |
<%= link_to_function "show done", "show_done()" %>

<ul style="margin:0; padding:0; width:300px;">
  <% @items.each do |item| %>
    <li class="<%= item.completed ? "done hidden":"" %>" style="list-style:none">
      <div style="float:left;width:200px; border-bottom:1px #f0f0f0 solid">
        <%= h item.content %>
      </div>

      <div style="float:left;">
        <% if !item.completed %>
          <% form_for(item, :html=>{:style => 'display:inline'}) do |f| %>
            <%= f.hidden_field :completed, :value=>(!item.completed).to_s %>
            <%= f.submit item.completed ? 'undo' : 'done' %>
          <% end %>
        <% end %>
      </div>

      <div style="clear:both;"></div>
      <% if item.id == 30 %>
        <div style="border-bottom: 1px #98AFC7 solid"></div>
      <% end %>

    </li>
  <% end %>
</ul>


<br/>

<% form_for(@item) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :completed, :value=>"false" %>
  <p>
    <%= f.text_field :content, :focus=>true %>
    <%= focus "item_content" %>
    <%= f.submit 'add' %>
  </p>

<% end %>

